@font-face {
  font-family: "acier-bat-solid";
  src: url("https://use.typekit.net/af/4a14d5/00000000000000007735dfb6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/4a14d5/00000000000000007735dfb6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
       url("https://use.typekit.net/af/4a14d5/00000000000000007735dfb6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #333333;
  font-family: acier-bat-solid,sans-serif;
  margin: 0;
}

h1,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  min-height: 100vh;
  background-color: #fbf3e2;
  color: #02395d;
  font-size: 20px;
  line-height: 1.45;
  margin: 0;
  background-image: url(https://soulagain.crypto-elites.club/assets/images/nft/meshspiralmulti.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  flex-direction: column;
}

.header {
  background-color: #02395d;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.h-cont {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 20px;
}
.left-sect {
  display: flex;
  align-items: center;
  width: 12%;
}
.logo {
  width: 100%;
  max-height: 90px;
  height: 90px;
}

.logo-flux {
  width: 100%;
  max-height: 50px;
  height: 50px;
}

.Navhome {
  color: #FBF3E2;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

.cm-window {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.20);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fbf3e2;
  background-image: url(https://soulagain.crypto-elites.club/assets/images/nft/meshspiralmulti.svg);
  background-size: contain;
}

.title {
  font-size: 41px;
  text-align: center;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-evenly;
}

.proj-descript {
  color: #02395d;
  margin: 12px 20px 32px;
}

.live-count-sect {
  display: flex;
  padding: 0.8rem 3.2rem;
  place-self: center;
}

.low-cm-text {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  border-radius: 16px;
}

.pubmint {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.ls-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.mint-sect {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: acier-bat-solid;
}

button {
  flex: 1;
  /* Add other button styles */
}
.wmb {
  width: 100%;
  height: auto;
  margin-top: 8px;
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.45;
  cursor: pointer;
  display: grid;
  border-radius: 8px;
}
.a-count {
  align-self: stretch;
  width: 39px;
  font-size: 16px;
  text-align: center;
  font-family: acier-bat-solid;
  border-radius: 9px;
  border: 2px solid #02395d;
}

.footer {
  background-color: #02395d;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FBF3E2;
  font-size: 24px;
  text-align: center;

  width: 100%;
}
button {
  color: #FBF3E2;
  background-color: #02395d;
  padding: 16px 20px;
  border-radius: 8px;
  transition: all 0.225s linear;
  font-size: 16px;
  font-weight: 600;
  font-family: acier-bat-solid;
  cursor: pointer;
  border: none
}

button:hover {
  opacity: 0.75;
  border-color: #BA4564;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (min-width: 1440px) and (min-height: 810px) {
  button {
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 20px;
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  button {
    padding: 24px 40px;
    border-radius: 8px;
    font-size: 29px;
  }
}

@media (min-width: 2560px) and (min-height: 1440px) {
  button {
    padding: 31px 61px;
    border-radius: 16px;
    font-size: 39px;
  }
}

@media (min-width: 3840px) and (min-height: 2160px) {
  button {
    padding: 46px 102px;
    border-radius: 16px;
    font-size: 59px;
  }
}